.form-inline.clearfix
	.nested-fields
		= f.input :name, input_html: { class: 'form-input form-control' }
		

		= f.input :company, input_html: { class: 'form-input form-control' }
		

		= f.input :email, input_html: { class: 'form-input form-control' }
		

		= f.input :phone_number, input_html: { class: 'form-input form-control' }
		

		= f.input :website, input_html: { class: 'form-input form-control' }
		
