= simple_form_for @listing, html: { multipart: true } do |f|
	- if @listing.errors.any?
		#errors
			%p
				= @listing.errors.count
				Prevented this listing froms saving
			%ul
				- @listing.errors.full_messages.each do |msg|
					%li= msg
	.panel-body
		= f.input :title, input_html: { class: 'form-control' }
		= f.input :year, input_html: { class: 'form-control' }
		= f.input :make, input_html: { class: 'form-control' }
		= f.input :jet_model, input_html: { class: 'form-control' }
		= f.input :serial_number, input_html: { class: 'form-control' }
		= f.input :location, input_html: { class: 'form-control' }
		= f.input :tags, input_html: { class: 'form-control' }	
		= f.input :price, input_html: { class: 'form-control' }						
		= f.input :description, input_html: { class: 'form-control' }
		= f.input :image, input_html: { class: 'form-control' }

		.row
			.col-md-6
				%h3 contact_information
				#contact_information
					= f.simple_fields_for :contact_information do |contact_information|
						= render 'contact_information_fields', f: contact_information
					.links
						= link_to_add_association 'Add contact_information', f, :ingredients, class: "btn btn-default add-button"

			.col-md-6
				%h3 aircraft_specs
				#aircraft_specs
					= f.simple_fields_for :aircraft_specs do |aircraft_spec|
						= render 'aircraft_spec_fields', f: aircraft_spec
					.links
						= link_to_add_association 'Add Step', f, :aircraft_specs, class: "btn btn-default add-button"

	= f.button :submit, class: "btn btn-primary"