.main_content
	#listing_top.row
		.col-md-4
			= image_tag @listing.image.url(:medium), class: "listing_image"
		.col-md-8
			#listing_info
				%h1= @listing.title
				%p.description= @listing.description
			

	.row
		.col-md-6
			#details
				%h2 Contact Details
				%ul
					- @listing.details.each do |detail|
						%li= detail.name

		.col-md-6
			#specs
				%h2 Specs
				%ul
					- @listing.specs.each do |spec|
						%li= spec.status


	.row
		.col-md-12
			= link_to "Back", root_path, class: "btn btn-default"
			- if user_signed_in?
				= link_to "Edit", edit_listing_path, class: "btn btn-default"
				= link_to "Delete", listing_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default"